{% extends 'core/base.html' %}

{% block title %}Kwikemart | {% endblock %} 
{% block content %}
    <div class="container mt-6 mb-6">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="display-4">Nuevos productos</h2>
            </div>

            {% for product in newest_products %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        {% include 'product/parts/list_item.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
