{% extends 'core/base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    {% if product.image %}
        <div class="mb-5 p-5">
            <img src="{{ product.image.url }}" class="img-fluid">
        </div>
    {% endif %}

    <h1 class="display-4">{{ product.title }}, ${{ product.price }}</h1>

    <p class="mb-4"><span class="badge bg-dark">{{ product.vendor.name }}</span></p>

    <p>{{ product.description }}</p>

    <hr>

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <form method="post" action=".">
        {% csrf_token %}

        <div class="input-group mb-3">
            <input type="number" name="quantity" value="1" class="form-control" min="1">
            <div class="input-group-append">
                <button class="btn btn-warning" type="submit">Añadir al carrito</button>
            </div>
        </div>
    </form>

    {% if similar_products %}
        <hr>
        <h2 class="h4">Productos similares</h2>

        <div class="row">
            {% for product in similar_products %}
                <div class="col-12 col-md-4 mb-4">
                    {% include 'product/parts/list_item.html' %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
